*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    max-width: 375px;
    margin: 0 auto;
}

.dark {
    background: #37383c;
}

.logo {
    width: 49px;
    height: 49px;
    margin-left: 10px;
    margin-top: 20px;
    
}

.close {
    /* position: relative; */
    margin-left: 260px;
}

.mouse {
  /*   position: relative; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
}

#icon-fav, #icon-download  {
    border: 1px solid #CED7E1;
    border-radius: 6px;
    border-radius: 6px;
}

#icon-fav {
    margin-right: 10px;
}

.user {
  /*   position: relative; */
    display: flex;
    font-family: $alternative-font;
    font-size: 15px;
    color: $secundary-color;
    text-align: center;
    margin-left: 25px;
    margin-bottom: 0px;

    .dark & {
        color: #ffffff;
    }
}

.div-carousel {
   /*  position: relative; */
    display: flex;
    justify-content: center;
}

.gifos-section3 {
    margin-top: 100px;
    width: 318px;
    height: 254px;
}


#titles {
    font-family: $normal-font;
    font-weight: bold;
    font-size: 1rem;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 4px;

    .dark & {
        color: #ffffff;
    }
}



//DESKTOP

@media screen and (min-width: 769px) {
    body {
        max-width: 1440px;
    }


    .gifos-section3 {
   

        margin-right: 0px;
        margin-left: 0px;
        width: 695px;
        height: 385px;
    }
    

   
    .mouse {
        width: 86%;
        justify-content: center;
        margin-left: 86px;
       
    }


    #titles {
        width: 49%;
    }
    
    .user {
      
        margin-left:358px;
    }
    
    .close {
        margin-left: 1000px;
    }


    .iconos {
        float: right;
        width: 32%;
        margin-top: 15px;
    }

    .flex-container {
        display: flex;
        margin-top: 15px;
        width: 90%;
    }
}

