//Mobile

//Fuentes
$normal-font: "Montserrat";
$alternative-font: "Roboto";

//Colores//
$primary-color: #572EE5;
$secundary-color: #000000;
$tertiary-color: #50e3c2;

//Tamaño Mobile

$font-size-title: 1.5rem; //25 px


//Desktop



//Tamaño
$big-font: 2.18rem;